<html>
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>Bienvenidos...</h1>
    <p>Aprenderemos MVC y Capas</p>
    <nav class="navbar navbar-dark bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
          <img src="img/logo.png" alt="logo" width="30" height="24" />
          Biblioteca Uptc
        </a>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
      </div>
    </div>

    <div class="card">
      <img src="" />
      <div class="card-body">
        <h5 class="card-title">Metamodelo</h5>
        <p class="card-text">Some quick example to build</p>
        <a href="#" class="btn btn-primary">Ver detalles</a>
      </div>
    </div>

    <div class="container mt-4 my-style-destacados">
      <div class="row">
        <div th:each="libro : ${libros}" class="col-md-3 mb-4">
          <div class="card">
            <img th:src="${libro.imagenUrl}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 th:text="${libro.nombre}" class="card-title"></h5>
              <p>
                <a
                  th:href="@{/librosPorEditorial(editorialId=${libro.editorial.id})}"
                  th:text="${libro.editorial.nombre}"
                  class="badge bg-warning text-dark"
                >
                </a>
              </p>
              <p th:text="${libro.descripcion}" class="card-text"></p>
              <a href="#" class="btn btn-primary">Ver Detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
